codigo/pug/contacto.pug
extends base/estructura

block valores
	- seccion = "contacto";

block estilos
	+estilo( "css/" + seccion + ".css" )


block cuerpo
	section#seccion-portada
		figure: img(src="img/contacto-fondo.jpg", alt="")

	section#contenido
		article.fondo
			img(src="img/contacto-fondo2.jpg", alt="")
		article.contenedor
			.marco
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.2998552170766!2d-77.04180868549356!3d-12.09161289143743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c85bfdc01537%3A0x315e9fb5bda42228!2sSAN+CEFERINO!5e0!3m2!1ses-419!2spe!4v1491304362818" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
			.cuadro
				h1: img(src="img/t-escribenos.png", alt="")
				include partes/formulario.pug
				.info
					p +51 1 4228242
					p Av. Dos de Mayo 793, San Isidro, Lima, PE

	section#horarios
		-
			var horario = {
				lunes: "12:00 hr. a 23:30 hr.",
				martes: "12:00 hr. a 23:30 hr.",
				miércoles: "12:00 hr. a 23:30 hr.",
				jueves: "12:00 hr. a 23:30 hr.",
				viernes: "12:00 hr. a 23:30 hr.",
				sábado: "12:00 hr. a 23:30 hr.",
				domingo: "12:00 hr. a 22:00 hr."
			};

		article.contenedor
			.contenido
				h1: img(src="img/t-horarios.png", alt="")

				table
					each valor, clave in horario
						tr
							th= clave
							td= valor

compilado/contacto.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>San ceferino</title>
    <meta charset="utf8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="css/general.css"/>
    <link rel="stylesheet" type="text/css" href="css/contacto.css"/>
  </head>
  <body id="contacto">
    <div id="pagina">
      <header id="encabezado">
        <div class="contenedor"><a class="logo" href="index.html">
            <figure class="alt"><img src="img/logo2.png"></figure>
            <figure><img src="img/logo.png"></figure></a>
          <nav id="navegacion">
            <button class="hamburguesa"><span class="icono"></span></button>
            <article class="menu">
              <button class="cerrar">&times;</button>
              <ul class="secciones">
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#historia">historia</a></li>
                <li><a href="#tiempo">Mas de 30 años</a></li>
                <li><a href="#carta">Carta</a></li>
                <li><a href="#especiales">Especiales</a></li>
                <li><a href="#reservas">Reservas</a></li>
              </ul>
            </article>
          </nav>
        </div>
      </header>
      <main id="cuerpo">
        <section id="seccion-portada">
          <figure><img src="img/contacto-fondo.jpg" alt=""></figure>
        </section>
        <section id="contenido">
          <article class="fondo"><img src="img/contacto-fondo2.jpg" alt=""></article>
          <article class="contenedor">
            <div class="marco"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.2998552170766!2d-77.04180868549356!3d-12.09161289143743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c85bfdc01537%3A0x315e9fb5bda42228!2sSAN+CEFERINO!5e0!3m2!1ses-419!2spe!4v1491304362818" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe></div>
            <div class="cuadro">
              <h1><img src="img/t-escribenos.png" alt=""></h1>
              <form action="?" method="POST" id="formulario">
                <div class="fila">
                  <input type="text" name="nombre" placeholder="Nombres y Apellidos" pattern="^[a-z ñçA-ZÑÇáéíóúÁÉÍÓÚ]+$">
                </div>
                <div class="fila">
                  <input type="email" name="correo" placeholder="Correo Electrónico">
                </div>
                <div class="fila">
                  <input type="text" name="motivo" placeholder="Motivo de la Reserva">
                </div>
                <div class="fila">
                  <button type="submit">Déjanos un mensaje</button>
                </div>
              </form>
              <div class="info">
                <p>+51 1 4228242</p>
                <p>Av. Dos de Mayo 793, San Isidro, Lima, PE</p>
              </div>
            </div>
          </article>
        </section>
        <section id="horarios">
          <article class="contenedor">
            <div class="contenido">
              <h1><img src="img/t-horarios.png" alt=""></h1>
              <table>
                <tr>
                  <th>lunes</th>
                  <td>12:00 hr. a 23:30 hr.</td>
                </tr>
                <tr>
                  <th>martes</th>
                  <td>12:00 hr. a 23:30 hr.</td>
                </tr>
                <tr>
                  <th>miércoles</th>
                  <td>12:00 hr. a 23:30 hr.</td>
                </tr>
                <tr>
                  <th>jueves</th>
                  <td>12:00 hr. a 23:30 hr.</td>
                </tr>
                <tr>
                  <th>viernes</th>
                  <td>12:00 hr. a 23:30 hr.</td>
                </tr>
                <tr>
                  <th>sábado</th>
                  <td>12:00 hr. a 23:30 hr.</td>
                </tr>
                <tr>
                  <th>domingo</th>
                  <td>12:00 hr. a 22:00 hr.</td>
                </tr>
              </table>
            </div>
          </article>
        </section>
      </main>
      <footer id="pie">
        <div class="contenedor">
          <p class="creditos">Todos los derechos reservados. San Ceferino 2017</p>
          <p class="sociales"><a href="#"><img src="img/ico-correo.png" alt=""></a><a href="#"><img src="img/ico-fb.png" alt=""></a></p>
        </div>
      </footer>
    </div>
            <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js" defer></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/object-fit/0.4.3/polyfill.object-fit.min.js" defer></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.2/picturefill.min.js" defer></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenLite.min.js" defer></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/easing/EasePack.min.js" defer></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/ScrollToPlugin.min.js" defer></script>
            <script type="text/javascript" src="js/general.js" defer></script>
  </body>
</html>
