codigo/pug/historia.pug
extends base/estructura

block valores
	- seccion = "historia";

block estilos
	+estilo( "css/" + seccion + ".css" )

block cuerpo
	section#seccion-portada
		article.fondo
			img(src="img/historia-fondo.jpg", alt="")
		article.contenedor
			.contenido
				h1: img(src="img/t-historia.png", alt="")

	section#contenido
		article.contenedor
			.imagenes
				figure: img(src="img/historia-foto3.png", alt="")
			.cuadro
				h1: img(src="img/t-elcocinero.png", alt="")
				h2 historia
				p Samuel L Ipsum is a Lorem Ipsum Generator, it uses quotes from films which Samuel L Jackson has starred.

		article.contenedor
			.contenido
				h1: img(src="img/t-lahistoria.png", alt="")
				h2 San Ceferino
				p.texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque labore, quam voluptatibus ipsum. Ex tenetur, quasi, provident animi magni voluptas fugit quae ad, quis pariatur soluta sunt similique earum praesentium.




	include /secciones/local.pug
	include /secciones/reserva.pug

compilado/historia.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>San ceferino</title>
    <meta charset="utf8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="css/general.css"/>
    <link rel="stylesheet" type="text/css" href="css/historia.css"/>
  </head>
  <body id="historia">
    <div id="pagina">
      <header id="encabezado">
        <div class="contenedor"><a class="logo" href="index.html">
            <figure class="alt"><img src="img/logo2.png"></figure>
            <figure><img src="img/logo.png"></figure></a>
          <nav id="navegacion">
            <button class="hamburguesa"><span class="icono"></span></button>
            <article class="menu">
              <button class="cerrar">&times;</button>
              <ul class="secciones">
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#historia">historia</a></li>
                <li><a href="#tiempo">Mas de 30 años</a></li>
                <li><a href="#carta">Carta</a></li>
                <li><a href="#especiales">Especiales</a></li>
                <li><a href="#reservas">Reservas</a></li>
              </ul>
            </article>
          </nav>
        </div>
      </header>
      <main id="cuerpo">
        <section id="seccion-portada">
          <article class="fondo"><img src="img/historia-fondo.jpg" alt=""></article>
          <article class="contenedor">
            <div class="contenido">
              <h1><img src="img/t-historia.png" alt=""></h1>
            </div>
          </article>
        </section>
        <section id="contenido">
          <article class="contenedor">
            <div class="imagenes">
              <figure><img src="img/historia-foto3.png" alt=""></figure>
            </div>
            <div class="cuadro">
              <h1><img src="img/t-elcocinero.png" alt=""></h1>
              <h2>historia</h2>
              <p>Samuel L Ipsum is a Lorem Ipsum Generator, it uses quotes from films which Samuel L Jackson has starred.</p>
            </div>
          </article>
          <article class="contenedor">
            <div class="contenido">
              <h1><img src="img/t-lahistoria.png" alt=""></h1>
              <h2>San Ceferino</h2>
              <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque labore, quam voluptatibus ipsum. Ex tenetur, quasi, provident animi magni voluptas fugit quae ad, quis pariatur soluta sunt similique earum praesentium.</p>
            </div>
          </article>
        </section>
        <section id="seccion-local">
          <article class="contenido">
            <h1><img src="img/t-25agnos.png" alt=""></h1>
            <div class="banner" id="banner" data-develar>
              <div>
                <figure><img src="img/local-foto1.jpg" alt="">
                  <figcaption>
                    <div class="contenedor">
                      <p>texto</p>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </article>
        </section>
        <section id="seccion-reserva">
          <article class="contenedor">
            <div class="imagenes">
              <figure><img src="img/reserva-foto.jpg" alt=""></figure>
            </div>
            <div class="cuadro" data-mover="150">
              <h1><img src="img/t-reserva.png" alt=""></h1>
              <h2>tu mesa</h2>
              <p>+514228242 <br> Av. dos de mayo 793, san isiadro, lima, pe</p><a class="enlace" historia.html><img src="img/ico-mapa.png" alt=""><span>Ver mapa</span></a>
            </div>
          </article>
        </section>
      </main>
      <footer id="pie">
        <div class="contenedor">
          <p class="creditos">Todos los derechos reservados. San Ceferino 2017</p>
          <p class="sociales"><a href="#"><img src="img/ico-correo.png" alt=""></a><a href="#"><img src="img/ico-fb.png" alt=""></a></p>
        </div>
      </footer>
    </div>
            <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js" defer></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/object-fit/0.4.3/polyfill.object-fit.min.js" defer></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.2/picturefill.min.js" defer></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenLite.min.js" defer></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/easing/EasePack.min.js" defer></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/ScrollToPlugin.min.js" defer></script>
            <script type="text/javascript" src="js/general.js" defer></script>
  </body>
</html>
