codigo/pug/menu.pug
extends base/estructura

block valores
	- seccion = "menu";

block estilos
	+estilo( "css/" + seccion + ".css" )

block cuerpo
	section#seccion-portada
		article.fondo
			img(src="img/menu-fondo.png", alt="")
		article.contenedor
			.contenido
				h1: img(src="img/t-carta-blanco.png", alt="")
				p tradicional

	section#menues
		.contenedor
			.contenido
				h1: img(src="img/t-entradas.png", alt="")
				p Samuel L Ipsum is a Lorem Ipsum Generator, it uses quote.

				.categorias
					.categoria
						h3 Categoría
						ul
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li.recomendado
								h4 Nombre del plato
								p descripción del plato

					.categoria
						h3 Categoría
						ul
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li.recomendado
								h4 Nombre del plato
								p descripción del plato

			.contenido
				h1: img(src="img/t-platosdefondo.png", alt="")
				p Samuel L Ipsum is a Lorem Ipsum Generator, it uses quote.

				.categorias
					.categoria
						h3 Categoría
						ul
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li.recomendado
								h4 Nombre del plato
								p descripción del plato

					.categoria
						h3 Categoría
						ul
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li.recomendado
								h4 Nombre del plato
								p descripción del plato

			.contenido
				.portada
					figure: img(src="img/menu-foto1.jpg", alt="")

				h1: img(src="img/t-ensalada.png", alt="")
				p Samuel L Ipsum is a Lorem Ipsum Generator, it uses quote.

				.categorias
					.categoria
						h3 Categoría
						ul
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li.recomendado
								h4 Nombre del plato
								p descripción del plato

					.categoria
						h3 Categoría
						ul
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li.recomendado
								h4 Nombre del plato
								p descripción del plato


	include /secciones/especiales.pug
	include /secciones/reserva.pug

compilado/menu.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>San ceferino</title>
    <meta charset="utf8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="css/general.css"/>
    <link rel="stylesheet" type="text/css" href="css/menu.css"/>
  </head>
  <body id="menu">
    <div id="pagina">
      <header id="encabezado">
        <div class="contenedor"><a class="logo" href="index.html">
            <figure class="alt"><img src="img/logo2.png"></figure>
            <figure><img src="img/logo.png"></figure></a>
          <nav id="navegacion">
            <button class="hamburguesa"><span class="icono"></span></button>
            <article class="menu">
              <button class="cerrar">&times;</button>
              <ul class="secciones">
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#historia">historia</a></li>
                <li><a href="#tiempo">Mas de 30 años</a></li>
                <li><a href="#carta">Carta</a></li>
                <li><a href="#especiales">Especiales</a></li>
                <li><a href="#reservas">Reservas</a></li>
              </ul>
            </article>
          </nav>
        </div>
      </header>
      <main id="cuerpo">
        <section id="seccion-portada">
          <article class="fondo"><img src="img/menu-fondo.png" alt=""></article>
          <article class="contenedor">
            <div class="contenido">
              <h1><img src="img/t-carta-blanco.png" alt=""></h1>
              <p>tradicional</p>
            </div>
          </article>
        </section>
        <section id="menues">
          <div class="contenedor">
            <div class="contenido">
              <h1><img src="img/t-entradas.png" alt=""></h1>
              <p>Samuel L Ipsum is a Lorem Ipsum Generator, it uses quote.</p>
              <div class="categorias">
                <div class="categoria">
                  <h3>Categoría</h3>
                  <ul>
                    <li>
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                    <li>
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                    <li>
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                    <li class="recomendado">
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                  </ul>
                </div>
                <div class="categoria">
                  <h3>Categoría</h3>
                  <ul>
                    <li>
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                    <li>
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                    <li>
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                    <li class="recomendado">
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="contenido">
              <h1><img src="img/t-platosdefondo.png" alt=""></h1>
              <p>Samuel L Ipsum is a Lorem Ipsum Generator, it uses quote.</p>
              <div class="categorias">
                <div class="categoria">
                  <h3>Categoría</h3>
                  <ul>
                    <li>
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                    <li>
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                    <li>
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                    <li class="recomendado">
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                  </ul>
                </div>
                <div class="categoria">
                  <h3>Categoría</h3>
                  <ul>
                    <li>
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                    <li>
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                    <li>
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                    <li class="recomendado">
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="contenido">
              <div class="portada">
                <figure><img src="img/menu-foto1.jpg" alt=""></figure>
              </div>
              <h1><img src="img/t-ensalada.png" alt=""></h1>
              <p>Samuel L Ipsum is a Lorem Ipsum Generator, it uses quote.</p>
              <div class="categorias">
                <div class="categoria">
                  <h3>Categoría</h3>
                  <ul>
                    <li>
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                    <li>
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                    <li>
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                    <li class="recomendado">
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                  </ul>
                </div>
                <div class="categoria">
                  <h3>Categoría</h3>
                  <ul>
                    <li>
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                    <li>
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                    <li>
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                    <li class="recomendado">
                      <h4>Nombre del plato</h4>
                      <p>descripción del plato</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="seccion-especiales">
          <article class="fondo"><img src="img/especiales-fondo.jpg" alt=""></article>
          <article class="contenedor">
            <div class="contenido">
              <h1><img src="img/t-especiales.png" alt=""></h1>
              <h2>del cheff</h2>
            </div>
          </article>
          <article class="listado">
            <div class="especial" data-develar>
              <figure><img src="img/especiales-foto1.jpg" alt=""></figure>
              <div class="descripcion">
                <h4>Nombre del plato</h4>
                <p>Lorem ipsum dolor sit amet</p>
              </div>
            </div>
            <div class="especial" data-develar>
              <figure><img src="img/especiales-foto2.jpg" alt=""></figure>
              <div class="descripcion">
                <h4>Nombre del plato</h4>
                <p>Lorem ipsum dolor sit amet</p>
              </div>
            </div>
            <div class="especial" data-develar>
              <figure><img src="img/especiales-foto3.jpg" alt=""></figure>
              <div class="descripcion">
                <h4>Nombre del plato</h4>
                <p>Lorem ipsum dolor sit amet</p>
              </div>
            </div>
            <div class="especial" data-develar>
              <figure><img src="img/especiales-foto4.jpg" alt=""></figure>
              <div class="descripcion">
                <h4>Nombre del plato</h4>
                <p>Lorem ipsum dolor sit amet</p>
              </div>
            </div>
            <div class="especial" data-develar>
              <figure><img src="img/especiales-foto5.jpg" alt=""></figure>
              <div class="descripcion">
                <h4>Nombre del plato</h4>
                <p>Lorem ipsum dolor sit amet</p>
              </div>
            </div>
            <div class="especial" data-develar>
              <figure><img src="img/especiales-foto6.jpg" alt=""></figure>
              <div class="descripcion">
                <h4>Nombre del plato</h4>
                <p>Lorem ipsum dolor sit amet</p>
              </div>
            </div>
            <div class="especial" data-develar>
              <figure><img src="img/especiales-foto7.jpg" alt=""></figure>
              <div class="descripcion">
                <h4>Nombre del plato</h4>
                <p>Lorem ipsum dolor sit amet</p>
              </div>
            </div>
            <div class="especial" data-develar>
              <figure><img src="img/especiales-foto8.jpg" alt=""></figure>
              <div class="descripcion">
                <h4>Nombre del plato</h4>
                <p>Lorem ipsum dolor sit amet</p>
              </div>
            </div>
          </article>
          <article class="enlaces"><a class="enlace" href="varta.html">Ver más</a></article>
        </section>
        <section id="seccion-reserva">
          <article class="contenedor">
            <div class="imagenes">
              <figure><img src="img/reserva-foto.jpg" alt=""></figure>
            </div>
            <div class="cuadro" data-mover="150">
              <h1><img src="img/t-reserva.png" alt=""></h1>
              <h2>tu mesa</h2>
              <p>+514228242 <br> Av. dos de mayo 793, san isiadro, lima, pe</p><a class="enlace" historia.html><img src="img/ico-mapa.png" alt=""><span>Ver mapa</span></a>
            </div>
          </article>
        </section>
      </main>
      <footer id="pie">
        <div class="contenedor">
          <p class="creditos">Todos los derechos reservados. San Ceferino 2017</p>
          <p class="sociales"><a href="#"><img src="img/ico-correo.png" alt=""></a><a href="#"><img src="img/ico-fb.png" alt=""></a></p>
        </div>
      </footer>
    </div>
            <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js" defer></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/object-fit/0.4.3/polyfill.object-fit.min.js" defer></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.2/picturefill.min.js" defer></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenLite.min.js" defer></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/easing/EasePack.min.js" defer></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/ScrollToPlugin.min.js" defer></script>
            <script type="text/javascript" src="js/general.js" defer></script>
  </body>
</html>
